.product{
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: white;
  margin-top: 5px;
  //height: 100%;
  .product-box{
    display: inline-block;
    vertical-align: top;
    height: 330px;
    width: 228px;
    background-color: white;
    //background-color: rgba(117, 190, 218, 0.05);
    padding: 0px 10px;
    padding-top: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 0, 0, .01) ;
    //border-top: 1px solid rgba(255, 0, 0, .1) ;
    margin-right: -4px;
    &:hover{
      box-shadow: 0 0 20px rgba(0,0,0,.5);
    }
    &>a{
      color: black;
      text-decoration-line: none;
    }
    img{
      height: 180px;
      width: 100%;
      &:hover{
        transform: scale(1.1);
      }
    }
    .product-info{
      margin-top: 10px;
      .product-color{
        display: inline;
      }
      .product-star {
        //color: red;
      }
      .product-price{
        font-size: 16px;
        color: red;
        font-family: bold;
      }
      .product-old-price{
        text-decoration: line-through double red;
        font-size: 11px;
        color: #a2a2a2;
        //-webkit-text-decoration-color: red;
        //text-decoration-color: red;
        //-webkit-text-decoration-line: line-through;
        //text-decoration-line: line-through;
      }
      .product-percent{
        color: red;
        float: right;
        //padding: 5px;
      }
    }
  }
}