.top-header{
    background-color: #1d71ab;
    height: 28px;
    font-size: 14px;
    position: relative;
    .top-header-item{
        display: inline;
        margin: 5px 30px 10px 0px;
        float: right;
    }
}

.header-nav{
    /*height: 120px;*/
    background-color: #189eff;
    opacity: 0.9;
    position: relative;
    .top-nav{
        width: 100%;
        margin: 10px 0px;
        position: relative;
        .cp-icon{
            color: white;
            font-size: 24px;
            a{
                text-decoration: none;
                color: white;
            }
        }
        &> div{
            display:inline-block;
        }
        .frm-search {
            .input-group{
                width: 100%;
                top: 10px;
            }
            .input-group-addon{
                cursor: pointer;
                &:hover{
                    background-color: #00ee00;
                    opacity: 0.9;
                }
            }

        }
        /*.shopping-cart{
            margin: 10px 10px;
            font-size: 16px;
            color: white;
            border-style: solid;
            border-radius: 2px;
            cursor: pointer;

            #cart_num_item{
                height: 22px;
                background: orangered;
                border-style: none;
                border-radius: 30px;
                margin-top: 2px;
                !*color: red;*!
            }
        }*/
        .shopping-cart{
            padding: 0px;
            margin-top: 10px;
            //margin: 10px 10px;
            font-size: 25px;
            color: white;
            //border-style: solid;
            //border-radius: 2px;
            cursor: pointer;
            float: right;

            #cart_num_item{
                height: 22px;
                padding: 2px 5px;
                font-size: 12px;
                font-weight: bold;
                color: red;
                position: relative;
                top:-16px;
                left:-10px;
                background: moccasin;
                border: 2px solid burlywood;
                //border-style: solid;
                border-radius: 10px;
            }
        }

    }
    .main-nav{
        height: 30px;
        position: relative;
        z-index: 9999 !important;
        .main-nav-wrap{
            cursor: pointer;
            position:relative;
            display: inline-block;
            /*Menu hearder level 1*/
            .main-nav-toggle{
                display: inline-block;
                padding-left: 12px;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: .6px;
                color: #fff;
                line-height: 27px;
                width: 229px;
                height: 30px;
                &:hover + ul{
                    display: block;
                }
            }
            &>ul{
                z-index: 9999;
                padding: 0;
                width: 300px;

                list-style: none;
                margin: 0px 0 0;
                position: absolute;
                background: #fff;
                border: 1px solid #e1e1e1;
                display: none;
                border-top: solid 1px #e1e1e1;
                border-radius: 4px 0 0 4px;
                &:hover{
                    display: block;
                }
                &>li{
                    .active{
                        background: #189eff;
                        border-color: #189eff;
                        color: #fff;
                        //z-index: 2;
                        &:not(.no-sub){
                            &:before,&:after{
                                right: -35px;
                                border-top: 18px solid transparent;
                                border-left: 18px solid #189eff;
                                border-bottom: 18px solid transparent;
                                border-right: 18px solid transparent;

                                top: 0;
                                bottom: 0;
                                margin: auto;
                                height: 0;
                                z-index: 2;
                                position: absolute;
                                content: "";
                            }
                        }
                    }
                    &>a{
                        text-decoration: none;
                        //padding-top: 4px;
                        border-radius: 4px 0 0 4px;
                        height: calc(541px / 15);

                        padding: 4px 5px 2px 39px;
                        display: block;
                        color: #444;
                        position: relative;
                        line-height: 27px;
                        border-left: 2px solid transparent;
                        margin-left: -1px;

                        &:hover + div{
                            display: block;
                        }
                        i{
                            .lv1-icon {
                                position: absolute;
                                top: 5px;
                                left: 13px;
                                bottom: 0;
                                right: 0;
                            }
                        }
                        span{
                            font-size: 13px;
                            letter-spacing: 0;
                            font-weight: 400;
                            .icon-wrap{
                                width: 30px;
                                height: 30px;
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                left: 5px;
                                bottom: 0;
                                margin: auto;
                            }
                        }
                    }
                    &>.nav-sub{
                        display: block;
                        height: 400px;
                        padding: 14px 20px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #ddd #ddd #ddd #e1e1e1;
                        position: absolute;
                        top: -1px;
                        bottom: -1px;
                        left: 100%;
                        background: #fff;
                        margin-left: 0;
                        display: none;
                        border-radius: 0 3px 3px 0;
                        -webkit-box-shadow: -2px 0 8px 0 rgba(0,0,0,.06);
                        box-shadow: -2px 0 8px 0 rgba(0,0,0,.06);
                        z-index: 1;
                        &>ul{
                            list-style: none;
                        }
                    }
                    &>div{
                        &:hover{
                            display: block;
                        }
                    }
                }
            }
        }
        .main-nav-item{
            cursor: pointer;
            display: inline-block;
            position: relative;
            &:before{
                margin-left: 60px;
                content: " ";
            }
            &>a{
                padding-left: 12px;
                font-weight: 400;
                font-size: 13px;
                letter-spacing: .6px;
                width: 229px;
                height: 30px;
                position: relative;
                color: #fff;
                text-decoration-line: none;
                &:hover{
                    color: #23527c;
                    text-decoration-line: underline;
                }
            }
        }
    }
}