.product-container{
  width: 100%;
  .menu-title{
    height: 25px;
    line-height: 25px;
    background-color: #ebf7f9;
    padding: 0px;
    margin-bottom: -10px;
    ul{
      //padding-left: 0px;
      margin: 0;
      padding: 0;
      list-style: none;
      .menu-title-item{
        //display: inline-block;
        float: left;
        margin: 0 8px 0 12px;
        a{
          background: #ddd;
          padding: 4px 5px;
          //float: left;
          text-decoration: none;
          color: #444;
          text-shadow: 0 1px 0 rgba(255,255,255,.5);
          position: relative;
          &:hover{
            background: #99db76;
          }
          &::before{
            content: "";
            position: absolute;
            top: 22px;
            margin-top: -24px;
            border-width: 15px 0 11px 16px;
            border-style: solid;
            border-color: #ddd #ddd #ddd transparent;
            left: -16px;
          }
          &::after{
            content: "";
            position: absolute;
            top: 22px;
            margin-top: -24px;
            border-top: 15px solid transparent;
            border-bottom: 11px solid transparent;
            border-left: 16px solid #ddd;
            right: -16px;
          }
          &:hover::before{
            border-color: #99db76 #99db76 #99db76 transparent;
          }
          &:hover::after{
            border-left-color: #99db76;
          }
          //&:hover{
          //  font-weight: bold;
          //  background: none;
          //}
          //&::after,&::before{
          //  content: normal;
          //}
        }
        .current, .current:hover{
          font-weight: bold;
          background: none;
        }
        .current::after, .current::before{
          content: normal;
        }
        /*a{
          color: #999;
          display: block;
          background: #efefef;
          text-decoration: none;
          position: relative;
          height: 40px;
          line-height: 40px;
          padding: 0 10px 0 5px;
          text-align: left;
          margin-right: 34px;
          font-size: 13px;
          font-weight: 300;
          cursor: pointer;
          &:before{
            border-color: #efefef #efefef #efefef transparent;
            left: -22px;
            border-left-color: transparent;
          }
          &:before,&:after{
            content: "";
            position: absolute;
            !* top: 0; *!
            border: 0 solid #efefef;
            border-width: 20px 7px 20px 17px;
            !* width: 0; *!
            !* height: 0; *!
          }
          &:after{
            right: -23px;
            border-color: transparent transparent transparent #efefef;
          }
        }*/
      }
    }
  }
  .product-summary{
    position: relative;
    width: 100%;
    margin-top: 10px;
    background: white;


    .product-image{
      display: inline-block;
      vertical-align:top;
      width: 30%;
      padding: 10px;
      margin-right: -4px;
      .slick-arrow{
        //background-color: black;
        z-index: 10;
        height: 100%;
      }
      .slick-prev{
        left: 0px;
      }
      .slick-next{
        right: 0px;
      }
      .slider-for{
        img{
          width: 100%;
          height: 300px;
        }
      }
      .slider-nav{
        text-align: left;
        //float: left;
        .slick-track {
          margin-left: 0;
          margin-right: 0;
        }
        img{
          padding: 1px;
          width: 100%;
        }
        .slider-nav-item{
          display: inline !important;
          cursor: pointer !important;
        }
        .slick-current {
          opacity: 1;
          background: forestgreen;
        }
      }
      /*.product-gallery{
        width: 100%;
        .gallery-preview{
          img{
            height: 300px;
            width: 100%;
          }
        }
        .gallery-slick-horizontal{
          margin-top: 10px;
          width: 100%;
          //display: inline-block;
          .slick-list{
            display: inline-block;
            .slick-track{
              display: inline-block;
              //opacity: 1;
              //width: 1087.5px;
              //transform: translate3d(0px, 0px, 0px);
              div{
                display: inline;
                img{
                  height: 30px;
                  width: 30px;
                }
              }
            }
          }
          .slick-next{
            float: right;
            line-height: 30px;
            width: 15px;
            cursor: pointer;
          }
          .slick-prev{
            float:left;
            line-height: 30px;
            width: 20px;
            cursor: pointer;
          }
        }
      }*/
    }
    .product-cart{
      display: inline-block;
      vertical-align:top;
      margin-right: -10px;
      //padding: 10px 0px;
      width: calc(100% - 30%);
      //width: calc(100% - 350px);
      .product-info{
        vertical-align:top;
        display: inline-block;
        width: 65%;
        background: white;
        margin-right: -5px;
        height: 400px;
        padding: 10px;
        .product-header{
          border-bottom: 1px solid #eff0f5;
          padding-bottom: 5px;
          .product-name{
            padding: 0px 5px;
            font-weight: bold;
          }
          .product-star{
            margin-bottom: 5px;
            font-size: 10px;
            .checked {
              color: orange;
            }
          }
        }

        .product-price{
          //border-bottom: 1px solid #eff0f5;
          padding: 15px 5px;
          .current-price{
            font-size: 30px;
            color: red;
          }
          .old-price{
            >span{
              font-size: 14px;
            }

          }
        }
        .product-quantity{
          //border-bottom: 1px solid #eff0f5;
          padding: 20px 5px;
          font-weight: bold;
          .input-group{
            width: 150px;
            //margin: 40px auto;
          }
        }
        .product-add-to-cart{
          //border-bottom: 1px solid #eff0f5;
          padding: 0px 5px;
          font-weight: bold;

          button{
            display: inline-block;
            width: 45%;
            height: 40px;
          }
        }
      }
      .product-delivery{
        vertical-align:top;
        display: inline-block;
        width: 35%;
        background-color: #fafafa;
        margin-right: -5px;
        height: 400px;
        padding: 10px;
        .seller-delivery{
          .delivery-header{
            display: block;
            .delivery-header-title{
              display: inline-block;
            }
            .delivery-header-tooltip{
              display: inline-block;
              float: right;
              cursor: pointer;
            }
          }
          .delivery-location{
            display: inline-block;
            margin: 0px;
            padding: 10px 0px;
            border-bottom: 1px solid #eff0f5;
            i{
              display: inline-block;
              vertical-align: middle;
              width: 6%;
            }
            .delivery-location-name{
              font-size: 12px;
              display: inline-block;
              vertical-align: middle;
              width: 70%;
            }
            >a{
              display: inline-block;
              vertical-align: middle;
              width: 20%;
              font-size: 13px;
              text-decoration-line: none;
              cursor: pointer;
            }
          }
          .delivery-content{
            display: inline-block;
            margin: 0px;
            padding: 10px 0px;
            border-bottom: 1px solid #eff0f5;
            width: 100%;
            .delivery-method{
              display: block;
              padding: 10px 0px;
              i{
                display: inline-block;
                vertical-align: middle;
                width: 6%;
              }
              >div{
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
                width: 70%;
              }
              >a{
                display: inline-block;
                vertical-align: middle;
                width: 20%;
                font-size: 13px;
                text-decoration-line: none;
                cursor: pointer;
              }
            }
            .pay-method{
              display: block;
              i{
                display: inline-block;
                vertical-align: middle;
                width: 6%;
              }
              >div{
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
  .product-content{
    background-color: white;
    width: 100%;
    .product-detail{
      h4{
        padding: 15px;
        //padding-left: 24px;
        //padding-right: 24px;
        height: 52px;
        //line-height: 52px;
        background: #fafafa;
      }
      .product-desc{
        margin: 10px;
        img{
          max-width: 100%;
        }
      }
    }
  }
}