.item-container{
  background-color: white;
  height: 100%;
  .tab-content{
    padding: 10px;
  }
  .row{
    margin: 0px !important;
    padding: 5px 0px;
    &>label{
      margin: 0px;
      padding: 3px;
      padding-right: 10px;
      text-align: left;
    }
    &>div{
      padding-left: 0px;
      padding-right: 0px;
      .item-input{
        padding: 2px 5px;
        min-width: 100%;
        max-width: 100%;
        //margin-left: 3px;
        //height: 28px !important;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    }
    .item-combo{
      padding-left: 5px !important;
    }
  }
  table{
    border: 1px solid #ddd;
    input[type='text']{
      padding: 3px 10px;
      width: 100%;
      border: 1px solid #ccc;
    }
    th{
      border: 1px solid #ddd;
      text-align: center;
    }
    td{
      padding: 5px;
      border: 1px solid #ddd;
      input[type="button"]{
        padding: 3px 5px;
        font-size: 10px;
      }
      select{
        border: 1px solid #ddd;
        width: 100%;
      }
    }

  }
  #frm_uploadFile{
    width: 200px;
    height: 210px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    padding-right: 10px;
    img{
      width:100%;
      height:100%;
    }
    label{
      position: absolute;
      z-index: 5;
      opacity: 0.8;
      cursor: pointer;
      background-color: #bdc3c7;
      width: 100px;
      height: 25px;
      font-size: 10px;
      line-height: 25px;
      text-transform: uppercase;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto !important;
      text-align: center;
    }
  }

}

